<html>
    <head>
        <title>New DigiCard Page</title>
        <link href="style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="logo">
            <a href="/"><img src="Images/DigiCard Logo.png" alt="DigiCard Logo" title="DigiCard" width="350" height="350" align="center"/></a>
        </div>

        <hr/>
        <br/>
        <h1>Create a New DigiCard Page!</h1>
        <br/>

        <form method="POST" action="/newpage">
            <% if (data._id != -1) { %>
                <input type="hidden" name="_id" value="<%= data._id %>">
            <% } %>
            <label for="title">Title:</label>
            <input type="text" name="title" value="<%= data.title %>"><br />
            <label for="maincontent">Main Content:</label>
            <textarea name="maincontent" cols="60" rows="10"><%- data.maincontent %></textarea><br />
            <input type="submit" name="submit" value="Submit">
        </form>

        <br/>
        <hr/>
        <br/>
        <br/>

    </body>

</html>