<html>
  <head>
      <title><%= data.text %></title>
      <link href="style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      <h1 id="nameDisplay"><%= data.gamer_name%></h1>
      <p> 
        <%= data.longtext %>
      </p>
  </body>
</html>
