<html>
    <head>
        <title>Your Gamer Name Generator</title>
        <link href="style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>This is your Gamer Name: </h1>

        <div id="nameDisplay"></div>

        <script src="script.js"></script>
</body>
    </body>
</html>